<footer>
    <div class="logoHeader">
        <img src="../../assets/logoHeader.png" alt="logoHeader" />
    </div>
    <hr />
    <div class="contenu_footer">
        <div class="email_footer">
            <a class="email_lien" href='mailto:jlnconstruct21@hotmail.com'> 
            <img src="../../assets/icon/mail.svg" alt="logo mail" /> 
            <p class='mail_paragraphe_footer'>JLNCONSTRUCT21@hotmail.com</p>
          </a>
          </div>
        <div class="telephone_footer"> 
          <img src="../../assets/icon/phone.svg" alt="logo phone" /> 
          <p class='telephone_paragraphe_footer'>+32 497/86.91.58</p> 
        </div>
        <div class="tva_footer"> 
          <img src="../../assets/icon/doc.svg" alt="logo tva" /> 
          <p class='tva_paragraphe_footer'>BE 0762.910.047</p>
        </div>
        <div class="adresse_entreprise_footer"> 
          <img src="../../assets/icon/map.svg" alt="logo map" /> 
          <p class='adresse_paragraphe_footer'>Rue sur les Trixhes 18, 4218 Couthuin</p>
        </div>
    </div>
</footer>