<section class="contenu_realisation">
  <h1 class="titre_realisation">Réalisation</h1>
  <section class="renovation">
    <h2 class="titre_renovation">Rénovation</h2>
    <section class="image_renovation image_renovation_1"><img src="https://images.unsplash.com/photo-1659431320852-b5b947d7ca7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="paysage avec une main "></section>
    <section class="image_renovation image_renovation_2"></section>
    <section class="image_renovation image_renovation_3"></section>
    <section class="image_renovation image_renovation_4"></section>

    <section class="image_renovation image_renovation_5"></section>
    <section class="image_renovation image_renovation_6"></section>
    <section class="image_renovation image_renovation_7"></section>

    <section class="image_renovation image_renovation_8"></section>
    <section class="image_renovation image_renovation_9"></section>
    <section class="image_renovation image_renovation_10"></section>
    <section class="image_renovation image_renovation_11"></section>

    <section class="image_renovation image_renovation_12"></section>
    <section class="image_renovation image_renovation_13"></section>
    <section class="image_renovation image_renovation_14"></section>
  </section>
  <section class="amenagement_exterieur">
    <h2 class="titre_amenagement_exterieur">Aménagement Extérieur</h2>
    <section class="image_amenagement_exterieur image_amenagement_exterieur_1"></section>
    <section class="image_amenagement_exterieur image_amenagement_exterieur_2"></section>
    <section class="image_amenagement_exterieur image_amenagement_exterieur_3"></section>
    <section class="image_amenagement_exterieur image_amenagement_exterieur_4"></section>

    <section class="image_amenagement_exterieur image_amenagement_exterieur_5"></section>
    <section class="image_amenagement_exterieur image_amenagement_exterieur_6"></section>
    <section class="image_amenagement_exterieur image_amenagement_exterieur_7"></section>

    <section class="image_amenagement_exterieur image_amenagement_exterieur_8"></section>
    <section class="image_amenagement_exterieur image_amenagement_exterieur_9"></section>
    <section class="image_amenagement_exterieur image_amenagement_exterieur_10"></section>
    <section class="image_amenagement_exterieur image_amenagement_exterieur_11"></section>

    <section class="image_amenagement_exterieur image_amenagement_exterieur_12"></section>
    <section class="image_amenagement_exterieur image_amenagement_exterieur_13"></section>
    <section class="image_amenagement_exterieur image_amenagement_exterieur_14"></section>
  </section>
  <section class="construction">
    <h2 class="titre_construction">Construction</h2>
    <section class="image_construction image_construction_1"></section>
    <section class="image_construction image_construction_2"></section>
    <section class="image_construction image_construction_3"></section>
    <section class="image_construction image_construction_4"></section>

    <section class="image_construction image_construction_5"></section>
    <section class="image_construction image_construction_6"></section>
    <section class="image_construction image_construction_7"></section>

    <section class="image_construction image_construction_8"></section>
    <section class="image_construction image_construction_9"></section>
    <section class="image_construction image_construction_10"></section>
    <section class="image_construction image_construction_11"></section>

    <section class="image_construction image_construction_12"></section>
    <section class="image_construction image_construction_13"></section>
    <section class="image_construction image_construction_14"></section>
  </section>
</section> 


