<div class="container_contact">
  <h2 class="titre_contact">Contact</h2>
  <form class="form_contact">
    <div class="input_nom">
      <label>Nom</label>
      <div class="icon_input_groupe">
        <span class="icon_nom"></span>
        <input class="input" type="text" placeholder="Nom" required />
      </div>
    </div>
    <div class="input_phone">
      <label>Téléphone</label>
      <div class="icon_input_groupe">
        <span class="icon_phone"></span>
        <input class="input" type="text" placeholder="Téléphone" required />
      </div>
    </div>
    <div class="input_email">
      <label>Email</label>
      <div class="icon_input_groupe">
        <span class="icon_email"></span>
        <input class="input" type="email" placeholder="Email" required />
      </div>
    </div>
    <div class="input_message">
      <label>Message</label>
      <div class="icon_input_groupe">
        <span class="icon_message"></span>
        <textarea
          class="textarea"
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Message"
          required
        ></textarea>
      </div>
    </div>
    <div class="button">
      <button type="submit" disabled>Contacter</button>
    </div>
  </form>
  <div class="map-container">
    <h3 class="titre_carte">Plan d'accès</h3>
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>
