/* pour les mobiles */
.container_contact {
  margin: 8rem 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.titre_contact {
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 0;
}
.form_contact {
  display: flex;
  justify-content: center;
  align-content: center; 
  flex-direction: column;
}
.map-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 10rem;
    margin-bottom: 5rem;
    width: 80%;
    height: 15rem;
}
label {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: medium;
}
.input_nom,
.input_phone,
.input_email,
.input_message {
  display: grid;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: .8rem 0;
}
input {
  width: 100%;
}
.input {
  height: 2rem;
  color: var(--primary-color);
  padding-left: 35px;
  font-weight: 100;
  width: 75vw;
}
.input_message {
  width: 100%;
  display: grid;
  justify-content: center;
}

/* teste avec span */
.icon_input_groupe .icon_nom {
  position: absolute;
  margin-block-start: .5rem;
  margin-inline-start: .5rem;
  content: url("../../assets/icon/nom_contact.png");
}
.icon_input_groupe .icon_phone {
  position: absolute;
  margin-block-start: .5rem;
  margin-inline-start: .5rem;
  content: url("../../assets/icon/phone_contact.png");
}
.icon_input_groupe .icon_email {
  position: absolute;
  margin-block-start: .5rem;
  margin-inline-start: .5rem;
  content: url("../../assets/icon/email_contact.png");
}
.icon_input_groupe .icon_message {
  position: absolute;
  margin-block-start: .5rem;
  margin-inline-start: .5rem;
  content: url("../../assets/icon/message_contact.png");
}

/* fin du teste */

.textarea {
  width: 75vw;
  padding-left: 35px;
  padding-top: 5px;
}

input::placeholder {
  color: var(--second-color);
}
.input_message{
  
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
  
}
button[type="submit"] {
  text-align: center;
  border: 1px solid var(--primary-color);
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.map-frame,#map {
  height: 27rem;
  width: 100%;
}

#map {
  /* width: 100%; */
}
.titre_carte {
  margin: 0rem 0rem 1rem 0rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

/* desktop / tablette */
@media screen and (min-width: 50rem) {
  
.container_contact {
  margin-block-start: 3rem;
  margin-block-end: 5rem;
  display: grid;
  grid-template-columns: 6.5vw 1fr 1fr 6.5vw;
  grid-template-rows: 8rem 1fr;
  justify-items: center;
}
.titre_contact {
    text-align: center;
    margin: 2rem 0rem;
    grid-row: 1;
    grid-column: 2/4;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}
.form_contact {
  grid-column: 2/3;
  grid-row: 2/3;
  /* z-index: -2; */
  width: 80%;
  position: relative;
}
label {
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-size: medium;
}
.input_nom,
.input_phone,
.input_email,
.input_message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.8rem 0;
  position: relative;
}
/* input,
textarea {
  width: 100%;
} */

.input {
  width: 34.2vw;
  height: 2rem;
  color: var(--primary-color);
  padding-left: 35px;
  font-weight: 100;
}
.textarea {
  width: 34.2vw;
  padding-left: 35px;
  padding-top: 5px;
}

input::placeholder {
  color: var(--second-color);
}
.input_message{
  
}
.button {
  display: flex;
  justify-content: end;
  width: 100%;
}
button[type="submit"] {
  text-align: center;
  border: 1px solid var(--primary-color);
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.map-frame,#map {
  height: 26rem;
  width: 100%;
}

#map {
  /* width: 100%; */
}
.titre_carte {
  margin: 7.5rem 0rem;
  margin-block-end: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
.map-container {
  margin-block-start: 2.9rem;
  grid-column: 3/4;
  grid-row: 2/3;
  width: 80%;
  margin-inline-start: 0rem;
  margin-left: 0rem;
  height: 15rem;
}
}
/* desktop */
@media screen and (min-width: 75rem) {
  .container_contact {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 6.5vw 1fr 1fr 6.5vw;
    grid-template-rows: 8rem 1fr;
    justify-items: center;
  }
  .titre_contact {
      text-align: center;
      margin-block-start: 2rem;
      margin-block-end: 4rem;
      grid-row: 1;
      grid-column: 2/4;
      font-weight: bold;
      font-size: 25px;
      text-transform: uppercase;
  }
  .form_contact {
    grid-column: 2/3;
    grid-row: 2/3;
    /* z-index: -2; */
    width: 100%;
    position: relative;
  }
  label {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: medium;
  }
  .input_nom,
  .input_phone,
  .input_email,
  .input_message {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: .8rem 0;
  }
  
  .input {
    width: 38vw;
    height: 2rem;
    color: var(--primary-color);
    padding-left: 35px;
    font-weight: 100;
  }
  .textarea {
    width: 38vw;
    padding-left: 35px;
    padding-top: 5px;
  }
  
  input::placeholder {
    color: var(--second-color);
  }
  .input_message{
    
  }
  .button {
    display: flex;
    justify-content: end;
    width: 38vw;
    
  }
  button[type="submit"] {
    text-align: center;
    border: 1px solid var(--primary-color);
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  .map-frame,#map {
    height: 26rem;
    width: 100%;
  }
  
  #map {
    /* width: 100%; */
  }
  .titre_carte {
    margin: 7.5rem 0rem;
    margin-block-end: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
  }
  .map-container {
    margin-block-start: 2.9rem;
    grid-column: 3/4;
    grid-row: 2/3;
    width: 90%;
    margin-inline-start: 2rem;
    height: 15rem;
  }
}
