<div class='container_contact'>
    <h2 class="titre_contact">Contact</h2>
    <form class='form_contact' action="">
      <div class="input_nom">
        <label >Nom</label>
        <input class="input" type="text" placeholder='Nom'/>
      </div>
      <div class="input_phone">
        <label >Téléphone</label>
        <input class="input" type="text" placeholder='Téléphone'/>
      </div>
      <div class="input_email">
        <label >Email</label>
        <input class="input" type="email" placeholder='Email'/>
      </div>
      <div class="input_message">
        <label >Message</label>
        <textarea class="textarea" name="" id="" cols="30" rows="10" placeholder='Message'></textarea>
      </div>
      <button type="submit" disabled>Contacter</button>
    </form>
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
</div>